# Ignore environment variables
.env

# Ignore Python virtual environment
venv/
__pycache__/

# Ignore logs
*.log

# Ignore the RAG index folder
pc_page_index_db/

# Ignore any pickle files
*.pkl

# Ignore Python cache
__pycache__/
*.pyc